<template>
  <v-card hover :outlined="$vuetify.theme.dark" style="min-width: 277px" :class="animateActions ? 'slide-out-blurred-top' : ''">
    <!-- Task priority notification -->
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-sheet tile v-on="on" :color="taskPriorityColor" height="5px" ></v-sheet>
      </template>
      <span>{{taskPriorityText}}</span>
    </v-tooltip>
    <!-- Actions header -->
    <v-row no-gutters justify="end" class="pl-1 pr-1 pt-0">
      <!-- Left side: owner, assiged to me -->
      <VIconTooltip
        position="right"
        small
      >
        <template v-slot:description>{{taskOwner}}</template>
        <template v-slot:icon>mdi-account-circle</template>
      </VIconTooltip>
      <VIconTooltip
        v-if="isAssignee"
        small
        color="warning"
        position="right"
        icon-class="no-glow ml-1"
      >
        <template v-slot:description>Assigned to me</template>
        <template v-slot:icon>mdi-checkbox-blank-circle</template>
      </VIconTooltip>
      <div v-if="(space === 'All-Group' || space === 'All-Groups') && allSpaces[task.space]" class="mt-1 ml-1 caption">
        <v-icon
          x-small
          :color="allSpaces[task.space].color">
          mdi-pound
        </v-icon>
        <span v-if="space === 'All-Groups' && task.gid">{{groups[task.gid].name}} > </span>
        <span v-else-if="space === 'All-Groups'">Private > </span>
        <span>{{allSpaces[task.space].name}}</span>
      </div>
      <v-spacer />
      <!-- Right side: Uploading, Options menu -->
      <VIconTooltip
        v-if="isFileUploading"
        small
        icon-class="no-glow rotate-infinite mr-1"
      >
        <template v-slot:description>File is being uploaded</template>
        <template v-slot:icon>mdi-cached</template>
      </VIconTooltip>
      <OptionsMenu
        :can-delete="canDelete"
        @edit="$emit('edit')"
        @comment="dialog2 = true"
        @move="setDialogMoveSpace"
        @delete="setDialog('delete')"
        @to-page="$router.push({path: '/task', query: {id: task.id}})"
      />
    </v-row>
    <!-- Title -->
    <v-list flat class="pt-0 pb-1 ml-1">
      <v-list-item two-line>
        <v-list-item-content class="pt-0 pb-1">
          <!-- First line -->
          <v-list-item-title>
            <v-row no-gutters justify="end">
              <!-- Left side: the title -->
              <v-col cols="12">
                <v-row no-gutters align="start" style="flex-wrap: nowrap !important">
                  <v-icon v-if="isNew" small class="no-glow mr-1 mt-2" color="warning">mdi-new-box</v-icon>
                  <VIconTooltip
                    v-else-if="!isWorking"
                    small
                    color="success"
                    position="top"
                    icon-class="no-glow mt-1 mr-1"
                  >
                    <template v-slot:description>Completed</template>
                    <template v-slot:icon>mdi-check-all</template>
                  </VIconTooltip>
                  <MarkdownHeader
                    :class="headerClass"
                    :text="task.name"
                    :truncate="!showActions"
                    h="7"/>
                </v-row>
              </v-col>
            </v-row>
          </v-list-item-title>
          <!-- Subtitle -->
          <v-list-item-subtitle>
            <!-- Left side: Date -->
            <v-row no-gutters>
              <span v-if="task.date != ''" :class="`caption primary--text ${fontWeight}`">Alarm: ({{task.date}})</span>
              <span v-else class="caption primary--text">Created: ({{date$}})</span>
              <VIconTooltip
                v-if="alarmIcon"
                icon-class="no-glow"
                :color="alarmIcon.color"
                small
              >
                <template v-slot:description>{{alarmIcon.description}}</template>
                <template v-slot:icon>{{alarmIcon.icon}}</template>
              </VIconTooltip>
            </v-row>
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-container class="pa-0">
      <!-- buttons on minified version -->
      <v-row @click="animate = true" no-gutters class="pr-1">
        <v-col cols="12">
          <v-row no-gutters>
            <v-fade-transition group>
              <v-btn key="repeat-button" text small color="secondary" v-if="isWorking && task.repeat && !showActions" @click="setDialog('repeat')">Repeat</v-btn>
              <v-btn key="finish-button" text small color="secondary" v-if="isWorking && !showActions" @click="setDialog('finish')">Finish</v-btn>
              <v-btn key="redo-button" text small color="secondary" v-else-if="!showActions" @click="setDialog('redo')">Redo</v-btn>
              <a key="file-button" v-if="isFileExists && !showActions" :href="task.file" target="_blank">
                <v-btn text small color="error">File</v-btn>
              </a>
            </v-fade-transition>
            <v-spacer style="height: 28px"/>
            <v-icon v-show="!showActions" small :class="animate ? 'rotate-center' : ''">mdi-chevron-double-down</v-icon>
            <v-icon v-show="showActions" small :class="animate ? 'rotate-center' : ''">mdi-chevron-double-up</v-icon>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <!-- Expension panel content: description, assignees, comments history -->
    <v-expand-transition>
      <div v-show="showActions">
      <v-divider/>
      <v-card-text class="pt-0 pb-0 task-card-text">
        <v-row no-gutters>
          <v-expansion-panels flat multiple class="mr-3">
            <v-expansion-panel>
              <v-expansion-panel-header class="pl-5">
                <v-row no-gutters>
                  <v-icon small class="mr-2 ml-1" color="secondary"> mdi-comment-text</v-icon>
                </v-spacer>
                  <span :class="`caption ${fontWeight}`">Description</span>
                </v-row>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row no-gutters class="pl-5">
                  <v-col cols="12">
                    <span v-html="task.description" />
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel v-if="hasAssignees">
              <v-expansion-panel-header class="pl-5">
                <v-row no-gutters>
                  <v-icon small class="mr-2 ml-1" color="secondary"> mdi-account-group</v-icon>
                </v-spacer>
                  <span :class="`caption ${fontWeight}`">Assignees</span>
                </v-row>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row no-gutters class="pl-5">
                  <v-col cols="12">
                    <span v-if="assignees">{{assignees}}</span>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel v-if="comments.length > 0 && profiles">
              <v-expansion-panel-header class="pl-5">
                <v-row no-gutters>
                  <v-icon small class="mr-2 ml-1" color="secondary">mdi-comment-text-multiple</v-icon>
                </v-spacer>
                  <span :class="`caption ${fontWeight}`">Comments</span>
                </v-row>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row no-gutters class="pl-5">
                  <v-col cols="12">
                    <v-row no-gutters v-for="(comment, i) in comments" :key="`ev-${i}`">
                      <span class="caption font-weight-black mr-1">
                        {{profiles[comment.uid].name}}: {{comment.text}}
                        <span :class="`caption ${fontWeight} mr-1`"> {{comment.timestamp}}</span>
                      </span>
                      <v-divider v-if="showLine(i, comments.length)" class="mb-1 mt-1"/>
                    </v-row>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header class="pl-5">
                <v-row no-gutters>
                  <v-icon class="mr-1" color="secondary"> mdi-history</v-icon>
                  </v-spacer>
                  <span :class="`caption ${fontWeight}`">History</span>
                </v-row>
              </v-expansion-panel-header>
              <v-expansion-panel-content v-if="history">
                <v-row no-gutters class="pl-5">
                  <v-col cols="12">
                    <v-row no-gutters v-for="(ev, i) in history" :key="`ev-${i}`">
                      <span class="caption font-weight-black mr-1">{{ev.message}}<span :class="`caption ${fontWeight} mr-1`"> {{ev.timestamp}}</span></span>
                      <v-divider v-if="showLine(i, history.length)" class="mb-1 mt-1"/>
                    </v-row>
                    <v-row no-gutters v-if="showHistory" justify="center" class="mr-3 mt-2 mb-2">
                      <v-icon class="no-glow">mdi-dots-vertical</v-icon>
                    </v-row>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn text small color="secondary" v-if="isWorking && task.repeat" @click="setDialog('repeat')">Repeat</v-btn>
        <v-btn text small color="secondary" v-if="isWorking" @click="setDialog('finish')">Finish</v-btn>
        <v-btn text small color="secondary" v-else @click="redoTask">Redo</v-btn>
        <a v-if="isFileExists" :href="task.file" target="_blank" class="mr-2">
          <v-btn text small color="error">File</v-btn>
        </a>
      </v-card-actions>
    </div>
    </v-expand-transition>
    <ConfirmationDialog
      :dialog="dialog1"
      :title="dialogTitle"
      message="Are you sure you want to continue?"
      @decline="dialog1=false"
      @accept="acceptDialog"
    />
    <CommentDialog
      :dialog="dialog2"
      :name="task.name"
      :tid="task.id"
      :comments="comments"
      @cancel="dialog2 = false"
    />
  </v-card>
</template>

<script>
import ConfirmationDialog from '@/components/utils/ConfirmationDialog'
import CommentDialog from '@/components/utils/CommentDialog'
import MarkdownHeader from '@/components/utils/MarkDownHeader'
import OptionsMenu from '@/components/utils/OptionsMenu'

import { VIconTooltip } from 'vicontooltip'

import { formattedDate } from '@/assets/utils/utils.js'

import { mapState, mapGetters, createNamespacedHelpers } from 'vuex'
const fb = createNamespacedHelpers('firebase')

export default{
  name: 'TaskMonitor',
  components:{
    ConfirmationDialog, CommentDialog, VIconTooltip, MarkdownHeader, OptionsMenu
  },
  props:{
    task:{
      type: Object
    }
  },
  data: () => ({
    dialog1: false,
    dialog2: false,
    dialogTitle: '',
    dialogType: '',
    showActions: false,
    spaceToMove: null,
    animate: false,
    animateActions: false
  }),
  watch: {
    animate: function(v){
      if(v) {
        setTimeout(() => {
          this.showActions = !this.showActions
        }, 100)
        setTimeout(() => {
          this.animate = false
        }, 800)
      }
    },
    animateActions: function(v) {
      if(v) {
        setTimeout(() => {
          this.animateActions = false
          switch(this.dialogType) {
            case 'delete':
              this.deleteTask()
              break
            case 'finish':
              this.finishTask()
              break
            case 'repeat':
              this.repeatTask()
              break
            case 'redo':
              this.redoTask()
              break
            case 'move':
              this.moveToSpace()
          }
        }, 800)
      }
    }
  },
  computed:{
    ...mapState(['fontWeight', 'comment']),
    ...fb.mapState(['profiles', 'groups']),
    ...fb.mapGetters(['group', 'space', 'profile', 'isGroupAdmin', 'allSpaces']),
    headerClass(){
      return this.$vuetify.theme.dark ? 'blue--text text--lighten-2' : 'blue--text text--darken-4'
    },
    timestampStart(){
      return this.task.timestamp_start ? this.task.timestamp_start.toDate() : ''
    },
    timestampEnd(){
      return this.task.timestamp_ended ? this.task.timestamp_ended.toDate() : false
    },
    //time passed in minutes
    timePassed(){
      if(this.timestampEnd) return Math.round((this.timestampEnd - this.timestampStart) / 36e5)
      return Math.round((new Date() - this.timestampStart) / 36e5)
    },
    isWorking(){
      if(this.task.status !== 1)
        return true
      return false
    },
    isFileUploading(){
      if(this.task.file == ".")
        return true
      return false
    },
    isFileExists(){
      if(this.task.file){
        if(this.task.file !== '.'){
          return true
        }
      }
      return false
    },
    title(){
      return this.task.name + (this.task.date ? ` (${this.task.date})` : '')
    },
    alarmIcon(){
      if(this.task.status == 1) return null
      let day = ''
      if(this.task.date){
        let d = new Date()
        //task due today
        if(new Date() > new Date(this.task.date)){
          return {icon: 'mdi-alert-decagram', color: 'red', description: 'Task is due!'}
        }
        //task due tommorow
        if(new Date(new Date().setDate(d.getDate() + 1)) > new Date(this.task.date))
          return {icon: 'mdi-alert', color: 'orange', description: 'Task is due tommorow!'}
        //task due in 2 days
        if(new Date(new Date().setDate(d.getDate() + 2)) > new Date(this.task.date))
          return {icon: 'mdi-shield-alert', color: 'yellow', description: 'Task is due in 2 days!'}
      }
      return null
    },
    history(){
      if(!this.task.history) return null
      if(this.task.history.length >= 3)
        return this.task.history.slice(0,2)
      return this.task.history
    },
    comments(){
      if(!this.task.comments) return []
      if(this.task.comments.length === 0) return []
      return this.task.comments
    },
    showHistory(){
      return (this.history.length < this.task.history.length || (this.group && this.task.status === 1))
    },
    taskPriorityColor(){
      switch(this.task.priority){
        case 0:
          return 'success'
          break
        case 1:
          return 'warning'
          break
        case 2:
          return 'error'
          break
      }
      return 'success'
    },
    taskPriorityText(){
      switch(this.task.priority){
        case 0:
          return 'Priority: Normal'
          break
        case 1:
          return 'Priority: Important'
          break
        case 2:
          return 'Priority: Very Important'
          break
      }
      return 'Priority: Normal'
    },
    isNew(){
      if(this.$route.path !== '/' || !this.task.timestamp_start) {
        return false
      }
      return this.task.new
    },
    canDelete(){
      return this.isGroupAdmin || !this.group || this.task.uid === this.profile.id
    },
    isAssignee(){
      return this.profile && this.hasAssignees ? this.task.assignees.some(assignee => this.profile.id === assignee) : null
    },
    hasAssignees(){
      return this.task.assignees ? this.task.assignees.length > 0 : null
    },
    assignees(){
      if(this.profiles && this.task.assignees) {
        let a = []
        this.task.assignees.forEach(assignee => {
          a.push(this.profiles[assignee].name)
        })
        return a.toString().replace(/,/g, ", ")
      }
    },
    date$(){
      if(this.task.date !== '' || !this.task.timestamp_start) return null
      return formattedDate(this.task.timestamp_start.toDate(), false)
    },
    taskOwner(){
      return !this.group ? this.profile.name : this.profiles && this.group ? this.profiles[this.task.uid].name : null
    }
  },
  methods:{
    async finishTask(){
      await this.$store.dispatch('firebase/updateTaskField', {
        field: 'status',
        value: 1,
        id: this.task.id,
        message: 'Task ended'
      })
    },
    async redoTask(){
      await this.$store.dispatch('firebase/updateTaskField', {
        field: 'status',
        value: 0,
        id: this.task.id,
        message: 'Task redone'
      })
    },
    async repeatTask() {
      let newDate = new Date(this.task.date)
      newDate.setDate(newDate.getDate() + this.task.repeatIn);
      newDate = formattedDate(newDate, false)
      await this.$store.dispatch('firebase/updateTaskField', {
        field: 'date',
        value: newDate,
        id: this.task.id,
        message: 'Task date updated'
      })
    },
    async deleteTask(){
      //remove from firebase
      await this.$store.dispatch('firebase/deleteTask', {task : this.task})
    },
    async moveToSpace() {
      if(this.spaceToMove) {
        await this.$store.dispatch('firebase/updateTaskField', {
          field: 'space',
          value: this.spaceToMove.id,
          id: this.task.id,
          message: `Task moved from ${this.space.name} to ${this.spaceToMove.name}`
        })
        this.spaceToMove = null
      }
    },
    setDialog(dialogType){
      switch(dialogType) {
        case 'delete':
          this.dialogTitle = `You're about to delete task:&nbsp;<span class='red--text'>${this.task.name}</span>`
          break
        case 'finish':
          this.dialogTitle = `You're about to finish task:&nbsp;<span class='red--text'>${this.task.name}</span>`
          break
        case 'redo':
          this.dialogTitle = `You're about to redo task:&nbsp;<span class='red--text'>${this.task.name}</span>`
          break
        case 'repeat':
          this.dialogTitle = `You're about to reapet task:&nbsp;<span class='red--text'>${this.task.name}</span> and push it's date forward`
          break
        case 'move':
          return
      }
      this.dialog1 = true
      this.dialogType = dialogType
    },
    setDialogMoveSpace({name, id}){
      this.dialogTitle = `You're about to move task:&nbsp;<span class='red--text'>${this.task.name}</span>&nbsp;from space:<span class='red--text'>&nbsp;${this.space.name}&nbsp;</span>to space:&nbsp;<span class='red--text'>${name}</span>`
      this.spaceToMove = {name, id}
      this.dialog1 = true
      this.dialogType = 'move'
    },
    acceptDialog(){
      this.animateActions = true
      this.dialog1 = false
    },
    showLine(i, len){
      return (i+1 < len)
    }
  }
}
</script>

<style>
/* ----------------------------------------------
 * Generated by Animista on 2020-4-2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.rotate-infinite {
	-webkit-animation: rotate-infinite 0.6s ease-in-out infinite both;
	        animation: rotate-infinite 0.6s ease-in-out infinite both;
}
@-webkit-keyframes rotate-infinite {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-infinite {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.rotate-center {
	-webkit-animation: rotate-center 0.6s linear 0.5ms both;
	        animation: rotate-center 0.6s linear 0.5ms both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.slide-out-blurred-top {
	-webkit-animation: slide-out-blurred-top 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: slide-out-blurred-top 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}


/**/
.task-card-text > .v-expansion-panel-content__wrap {
  padding: 0px
}
</style>
