<template>
  <v-row>
    <v-col cols="12">
      <v-data-iterator
        :items="tasks"
        item-key="id"
        :items-per-page="12"
        :search="searchModel"
        :sort-by="sortItems[sortModel]"
        :sort-desc="sortDesc">
      <template v-slot:header="{ items }">
        <v-toolbar style="min-width: 277px">
          <v-row no-gutters>
            <v-autocomplete
              :item-text="searchModel"
              @update:search-input="updateSearch"
              @focus="searchModel=null"
              :items="tasks.map(item => item.name)"
              class="mt-7"
              hide-no-data
              hide-selected
              item-text="Description"
              placeholder="Start typing to Search"
              return-object
            />
          </v-row>
          <template v-slot:extension>
            <v-row no-gutters>
              <v-col cols="6">
                <v-select
                  v-model="sortModel"
                  flat
                  dense
                  solo
                  hide-details
                  :items="Object.keys(sortItems)"
                  prepend-inner-icon="mdi-sort"
                  label="Sort by"
                />
              </v-col>
              <v-col cols="6">
                <v-row justify="end" >
                  <v-btn-toggle
                    v-model="sortDesc"
                    mandatory
                    class="mr-2">
                    <v-btn
                      small
                      depressed
                      :value="false">
                      <v-icon>mdi-arrow-up</v-icon>
                    </v-btn>
                    <v-btn
                      small
                      depressed
                      :value="true">
                      <v-icon>mdi-arrow-down</v-icon>
                    </v-btn>
                  </v-btn-toggle>
                </v-row>
              </v-col>
            </v-row>
          </template>
        </v-toolbar>
      </template>
      <template v-slot:default="{ items, isExpanded, expand }">
        <v-row class="mt-5">
          <v-col v-for="(item, i) in items" :key="`task-${i}`" cols="12" xs="12" sm="6" md="4" lg="3">
            <v-lazy
              :key="`lazy-task-${item.id}`"
              :options="{
                threshold: 0.8
              }"
              transition="fade-transition">
                <Task
                  :task="item"
                  :key="`task-${item.id}`"
                  @snack="snackbar=true"
                />
              </v-lazy>
            </v-col>
          </v-row>
        </template>
      </v-data-iterator>
    </v-col>
  </v-row>
</template>

<script>
import Task from '@/components/Tasks/Task'

import { mapState } from 'vuex'

import _ from 'underscore'

export default{
  name: 'TasksIterator',
  components: {
    Task
  },
  props: {
    tasks: {
      type: Array,
      required: true
    }
  },
  methods: {
    updateSearch(val) {
      if(val === null) return
      _.debounce(this.updateSearchInput(val), 500)
    },
    updateSearchInput(val){
      this.searchModel = val
    }
  },
  data: () => ({
    searchModel: '',
    sortModel: 'Alarm Date',
    sortDesc: '',
    sortItems: {
      'Creation Date': 'timestamp_start',
      'End Date': 'timestamp_end',
      'Alarm Date': 'date',
      'Priority': 'priority',
      'Name': 'name',
      'Space': 'space'
    }
  })
}
</script>
