<template>
  <v-card hover :outlined="$vuetify.theme.dark" style="min-width: 277px" class="d-flex flex-column">
    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title>
          <v-row class="mt-1" no-gutters>
            <v-col cols="12">
              <v-row no-gutters>
                <v-text-field
                  class="mt-1"
                  filled
                  shaped
                  dense
                  label="Edit Title"
                  :value="task.name"
                  @input="inputNewName"
                  @blur="$v.newName.$touch()"
                  :error-messages="errorsNewName"
                />
              </v-row>
              <v-row no-gutters>
                <v-checkbox :disabled="this.task.date === '' || (this.task.date !== '' && this.dateDelete) || (this.task.date === '' && this.date === '')" v-model="repeat" label="Repeat in (days)"></v-checkbox>
                <v-select v-if="repeat" v-model="repeatIn" :items="days" />
              </v-row>
              <v-row no-gutters class="mb-1">
                <v-col cols="6">
                  <div class="text-xs-center">
                    <v-dialog
                      v-model="dialog"
                      width="300"
                      >
                      <template v-slot:activator="{ on }">
                        <v-row no-gutters class="pa-0 mt-2 mb-2">
                          <div class="d-flex flex-row">
                            <v-btn text small v-on="on">
                              <v-icon small class="ml-0 mr-2">mdi-calendar-today</v-icon>
                              select date
                            </v-btn>
                          </div>
                        </v-row>
                      </template>
                      <v-row align="center" class="pa-0 ma-0">
                        <v-date-picker color="primary" width="300" v-model="date" :show-current="new Date().toISOString().substr(0, 10)"></v-date-picker>
                      </v-row>
                    </v-dialog>
                    <v-row no-gutters>
                      <v-col cols="12">
                        <v-row no-gutters class="mb-1 ml-2">
                          <div v-if="task.date !== ''" :class="`caption ${fontWeight} mt-1`">Current Date: ({{task.date}})</div>
                          <div v-if="date !== ''" :class="`caption ${fontWeight} mt-1`">Selected Date: ({{date}})</div>
                          <v-btn v-if="date" text x-small @click="date = ''" class="pl-0 mt-1">remove new date</v-btn>
                        </v-row>
                        <v-row no-gutters>
                          <v-btn v-if="!dateDelete && this.task.date !== ''" text x-small color="error" @click="dateDelete = true ; date = ''">Mark for Deletion</v-btn>
                          <v-btn v-else-if="this.task.date !== ''" text x-small color="error" @click="dateDelete = false">Revert Deletion</v-btn>
                        </v-row>
                      </v-col>
                    </v-row>
                  </div>
                </v-col>
              </v-row>
              <v-divider />
              <v-row no-gutters v-if="group">
                <v-select
                  v-model="newAssignees"
                  label="Assign to"
                  multiple
                  chips
                  deletable-chips
                  :items="members"
                />
              </v-row>
              <v-row no-gutters>
                <v-select
                  v-model="chosenPriority"
                  label="Priority"
                  :items="priority"
                >
                  <template v-slot:item="{ item }">
                    <v-icon class="no-glow mr-1" small :color="item.color">mdi-checkbox-blank-circle</v-icon> {{item.text}}
                  </template>
                  <template v-slot:selection="{ item }">
                    <v-icon class="no-glow mr-1" small :color="item.color">mdi-checkbox-blank-circle</v-icon> {{item.text}}
                  </template>
                </v-select>
              </v-row>
            </v-col>
          </v-row>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-divider />
    <v-card-text class="flex d-flex flex-column">
      <v-row>
        <v-col cols="12" >
          <v-row no-gutters>
            <v-col cols="12">
              <v-row no-gutters>
                <v-col cols="12">
                  Description:
                  <Editor
                    v-model="newDescription"
                    :init="task.description"
                    @value="setDescription"
                  />
                  <span class="error--text">{{errorsNewDescription}}</span>
                </v-col>
              </v-row>
              <v-divider class="mb-2" />
              <v-row v-if="task.file!==''" no-gutters>
                <a :href="task.file" target="_blank" class="mr-2">
                  <v-btn text x-small>show current file</v-btn>
                </a>
                <v-spacer />
                <v-btn v-if="!fileDelete" text x-small color="error" @click="fileDelete = true">Mark for Deletion</v-btn>
                <v-btn v-else text x-small color="error" @click="fileDelete = false">Revert Deletion</v-btn>
              </v-row>
              <v-row no-gutters>
                <v-file-input
                  v-model="taskFile"
                  color="deep-purple accent-4"
                  placeholder="Select File"
                  show-size
                  clearable
                />
              </v-row>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card-text>
    <v-divider />
    <v-card-actions class="d-flex flex-row-reverse">
      <v-btn text small color="secondary" @click="setDialog">Save</v-btn>
      <v-btn text small color="error" @click="$emit('close-edit')">Cancel</v-btn>
    </v-card-actions>
    <ConfirmationDialog
      :dialog="openDialog"
      :title="dialogTitle"
      :message="dialogMessage"
      @decline="openDialog=false"
      @accept="acceptDialog"
    >
    </ConfirmationDialog>
  </v-card>
</template>

<script>
import Editor from '@/components/utils/Editor'
import ConfirmationDialog from '@/components/utils/ConfirmationDialog'

import { mapState, mapGetters, createNamespacedHelpers } from 'vuex'
const fb = createNamespacedHelpers('firebase')

import { validationMixin } from 'vuelidate'
import { required, minLength } from 'vuelidate/lib/validators'

import {isEmpty} from '@/assets/utils/utils.js'

export default{
  name: 'TaskEditor',
  mixins: [validationMixin],
  validations: {
    newName: { required, minLength: minLength(4) },
    newDescription: { required, minLength: minLength(5) }
  },
  components:{
    Editor, ConfirmationDialog
  },
  props:{
    task:{
      type: Object
    }
  },
  //allows saving even if title/description remain unchanged
  mounted(){
    this.newName = this.task.name
    this.newDescription = this.task.description
    this.chosenPriority = this.task.priority
    this.newAssignees = this.task.assignees && !isEmpty(this.profiles) ? this.task.assignees : []
    if(this.task?.repeat) {
      this.repeat = this.task.repeat
      if(this.task?.repeatIn) {
        this.repeatIn = this.task.repeatIn
      }
    }
  },
  computed:{
    ...mapState(['fontWeight']),
    ...fb.mapState(['profiles']),
    ...fb.mapGetters(['profile', 'group']),
    errorsNewName() {
      const errors = []
      if (!this.$v.newName.$dirty) return errors
      !this.$v.newName.required && errors.push('Name is required.')
      !this.$v.newName.minLength && errors.push('Name must be at least 4 characters long.')
      return errors
    },
    errorsNewDescription() {
      let error = ''
      if(this.newDescription.length < 12) {
        error = 'description must be at least 5 characters long.'
      }
      return error
    },
    members(){
      if(this.profiles && this.group){
        if(this.group.members.length > 0){
          let members$ = []
          this.group.members.forEach(member => {
            let member$ = this.profiles[member]
            if(member$ !== undefined){
              if(this.profile.id !== member$.id)
                members$.push({text: member$.name, value: member$.id})
              else
                members$.push({text: `${member$.name} (Me)`, value: member$.id})
            }
          })
          return members$
        }
      }
      return []
    },
    days() {
      return [...Array(32).keys()].slice(1).concat(365)
    }
  },
  data: () => ({
    openDialog: false,
    dialog: false,
    dialogTitle: '',
    dialogMessage: '',
    dialogType: '',
    newName: '',
    newDescription: '',
    newAssignees: [],
    date: '',
    taskFile: null,
    priority: [
      {
        text: 'Normal',
        value: 0,
        color: 'success'
      },
      {
        text: 'Important',
        value: 1,
        color: 'warning'
      },
      {
        text: 'Very Important',
        value: 2,
        color: 'error'
      }
    ],
    chosenPriority: 0,
    fileDelete: false,
    dateDelete: false,
    repeat: false,
    repeatIn: 7
  }),
  methods:{
    setDialog(){
      this.openDialog = true
      this.dialogTitle = `<span>You're about to overwrite task item: <span class="red--text">${this.task.name}</span>`
      this.dialogMessage = (this.isFileExists && this.task.file !== "." && this.taskFile)
        ? `This will&nbsp;<span class='red--text'> overwrite</span>&nbsp;your current file<br/>Are you sure you want to continue?`
        : 'Are you sure you want to continue?'
      this.dialogType = 'save'
    },
    acceptDialog(){
      this.save()
      this.openDialog = false
    },
    save(){
      this.$v.$touch()
      if (!this.$v.$invalid) {
        delete this.task.new
        delete this.task.history

        this.task.name = this.newName
        this.task.description = this.newDescription
        this.task.date = this.dateDelete ? '' : this.date ? this.date : this.task.date ? this.task.date : ''
        this.task.repeat = this.repeat
        this.task.assignees = this.newAssignees
        if(this.task.priority != this.chosenPriority) {
          this.task.priority = this.chosenPriority
        }
        if(this.task.repeat) {
          this.task.repeatIn = this.repeatIn
        }
        let folder = this.group ? 'groupTasks' : 'tasks'
        if(this.fileDelete && !this.taskFile) {
          this.$store.dispatch('firebase/deleteStorageFolder', {
            path: `${folder}/${this.task.id}`
          })
          this.$store.dispatch('firebase/updateTaskField', {
            field: 'file',
            value: '',
            id: this.task.id,
            message: 'File Remvoed'
          })
        }
        else if(this.taskFile !== null) {
          this.task.file = '.'
          this.$store.dispatch('firebase/updateTask', {task: this.task, message: 'Task Edited'})
          this.$store.dispatch('firebase/uploadFile', {
            path: `${folder}/${this.task.id}`,
            name: this.profile.id,
            file: this.taskFile,
          })
        }
        else {
          this.$store.dispatch('firebase/updateTask', {task: this.task, message: 'Task Edited'})
        }
        this.$v.$reset()
        this.taskFile = null
        this.fileDelete = false
        this.dateDelete = false
        this.$emit('close-edit')
      }
    },
    inputNewName(v){
      this.$v.newName.$touch()
      this.newName = v
    },
    setDescription(v){
      this.newDescription = v
    }
  }
}
</script>
