<template>
  <v-row style="max-height: 650px" class="ma-0 pa-0 overflow-y-auto">
    <v-col cols="12">
      <v-card>
        <v-card-title>
          <v-row no-gutters justify="end">
            Task Input
            <v-spacer />
            <v-icon @click="$emit('close')">mdi-close</v-icon>
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-row class="ml-1 mr-1">
            <v-col cols="6">
              <v-text-field
                class="mr-1"
                v-model="name"
                label="Name"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                @keyup.enter="create"
                :error-messages="errorsName"
              />
            </v-col>
            <v-col cols="6">
              <v-select
                v-model="space$"
                label="Space"
                :placeholder="currentSpaceName"
                :items="spaces$"
                @input="$v.space$.$touch()"
                @blur="$v.space$.$touch()"
                :error-messages="errorsSpace"
              />
            </v-col>
          </v-row>
          <v-row class="ml-0 mr-1">
            <v-col class="mt-5 pl-0" cols="4">
              <div class="text-xs-center">
                <v-dialog
                  v-model="dialog"
                  width="300"
                  >
                  <template v-slot:activator="{ on }">
                    <v-btn text small v-on="on">
                      <v-icon small class="ml-0 mr-2">mdi-calendar-today</v-icon>
                      select date
                    </v-btn>
                  </template>
                  <v-row align="center" class="pa-0 ma-0">
                    <v-date-picker color="primary" width="300" v-model="date" :show-current="new Date().toISOString().substr(0, 10)"></v-date-picker>
                  </v-row>
                </v-dialog>
                <span v-if="date !== ''" color="primary">({{date}})</span>
                <v-btn v-if="date !== ''" text @click="date = ''">remove</v-btn>
              </div>
            </v-col>
            <v-col cols="4">
              <v-checkbox :disabled="!date" v-model="repeat" label="Repeat in (days)" class="mt-5"></v-checkbox>
              <v-select v-if="repeat" v-model="repeatIn" :items="days" />
            </v-col>
            <v-col cols="4">
              <v-file-input
                v-model="taskFile"
                color="deep-purple accent-4"
                label="File"
                show-size
                clearable
              />
            </v-col>
          </v-row>
          <v-row class="ml-1 mr-1">
            <v-col cols="12">
              Description:
              <Editor
                v-model="description"
              />
              <span class="error--text">{{errorsDescription}}</span>
            </v-col>
          </v-row>
          <v-row class="ml-1 mr-1">
            <v-col cols="6">
              <v-select
                v-model="assignees"
                label="Assign to"
                multiple
                chips
                deletable-chips
                :items="members"
              />
            </v-col>
            <v-col cols="6">
              <v-select
                v-model="chosenPriority"
                chips
                label="Priority"
                :items="priority"
              >
                <template v-slot:item="{ item }">
                  <v-icon class="no-glow mr-1" small :color="item.color">mdi-checkbox-blank-circle</v-icon> {{item.text}}
                </template>
                <template v-slot:selection="{ item }">
                  <v-icon class="no-glow mr-1" small :color="item.color">mdi-checkbox-blank-circle</v-icon> {{item.text}}
                </template>
              </v-select>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="d-flex flex-row-reverse">
          <v-btn @click="create" color="primary">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Editor from '@/components/utils/Editor'

import { validationMixin } from 'vuelidate'
import { required, minLength } from 'vuelidate/lib/validators'

import {mapState, mapGetters, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')

export default{
  name: 'InputTask',
  mixins: [validationMixin],
  validations: {
    space$: { required },
    name: { required, minLength: minLength(4) },
  },
  middleware: 'auth',
  components:{
    Editor
  },
  computed:{
    ...fb.mapState(['user', 'profiles']),
    ...fb.mapGetters(['activeSpaces', 'defaultSpaceName', 'space', 'group']),
    errorsSpace() {
      const errors = []
      if (!this.$v.space$.$dirty) return errors
      !this.$v.space$.required && errors.push('Space name is required.')
      return errors
    },
    errorsName() {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.required && errors.push('Task name is required.')
      !this.$v.name.minLength && errors.push('Name must be at least 4 characters long.')
      return errors
    },
    errorsDescription() {
      let error = ''
      if(this.description.length < 12) {
        error = 'description must be at least 5 characters long.'
      }
      return error
    },
    space$: {
      get() {
        if(this.space) {
          return {text: this.space.name, value: this.space.id}
        }
        return null
      },
      set(val) {
        this.$emit('input', val);
      }
    },
    spaces$(){
      return this.activeSpaces ? this.activeSpaces.map(space => {
        return ({text: space.name, value: space})
      }) : null
    },
    currentSpaceName(){
      return this.space ? this.space.name : this.defaultSpaceName
    },
    members(){
      if(this.profiles && this.group){
        if(this.group.members.length > 0){
          let members$ = []
          this.group.members.forEach(member => {
            let member$ = this.profiles[member]
            if(member$ !== undefined){
              if(this.user.uid !== member$.id)
                members$.push({text: member$.name, value: member$.id})
              else
                members$.push({text: `${member$.name} (Me)`, value: member$.id})
            }
          })
          return members$
        }
      }
      return []
    },
    days() {
      return [...Array(31).keys()].slice(1)
    }
  },
  data: () => ({
    taskFile: null,
    name: '',
    description: '',
    dialog: false,
    date: '',
    repeat: false,
    repeatIn: 7,
    priority: [
      {
        text: 'Normal',
        value: 0,
        color: 'success'
      },
      {
        text: 'Important',
        value: 1,
        color: 'warning'
      },
      {
        text: 'Very Important',
        value: 2,
        color: 'error'
      }
    ],
    chosenPriority: 0,
    assignees: [],
    editorInit: '',
  }),
  methods:{
    create(){
      this.$v.$touch()
      if (!this.$v.$invalid) {
        let task = {
          uid: this.user.uid,
          file: this.taskFile ? this.taskFile : '',
          name: this.name,
          date: this.date,
          repeat: this.repeat,
          description: this.description,
          space: this.space$.value,
          priority: this.chosenPriority,
          assignees: this.assignees
        }
        if(this.repeat) task.repeatIn = this.repeatIn
        this.$store.dispatch('firebase/addNewTask', task)
        // this.$store.dispatch('taskCreated', {value: true})
        this.$emit('close')
        this.$emit('snack-input', {
          name: this.name,
          type: 'task'
        })
        this.$reset()
      }
    },
    $reset(){
      this.name = ''
      this.description = ''
      this.date = ''
      this.space$ = ''
      this.taskFile = null
      this.chosenPriority = 0
      this.assignees = []
      this.repeat = false
      this.$v.$reset()
    }
  }
}
</script>
