<template>
  <v-row class="ma-0 pa-0">
    <v-col cols="12">
      <v-card>
        <v-card-title>
          <v-row no-gutters justify="end">
            Space Input
            <v-spacer />
            <v-icon @click="$emit('close')">mdi-close</v-icon>
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-row class="ml-1 mr-1">
              <v-text-field
                v-model="name"
                label="Name"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                @keyup.enter="create"
                :error-messages="errorsName"
              />
          </v-row>
        </v-card-text>
        <v-card-actions class="d-flex flex-row-reverse">
          <v-btn @click="create" color="primary">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength } from 'vuelidate/lib/validators'

import {mapState, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')

export default{
  name: 'InputSpace',
  mixins: [validationMixin],
  validations: {
    name: { required, minLength: minLength(4) },
  },
  middleware: 'auth',
  components:{

  },
  computed:{
    ...fb.mapState(['user']),
    errorsName() {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.required && errors.push('Task name is required.')
      !this.$v.name.minLength && errors.push('Name must be at least 4 characters long.')
      return errors
    },
  },
  methods:{
    create(){
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.$store.dispatch('firebase/addNewSpace', {name: this.name, uid: this.user.uid})
        this.$emit('snack-input', {
          name: this.name,
          type: 'space'
        })
        this.$emit('close')
        this.name = ''
        this.$v.$reset()
      }
    }
  },
  data: () => ({
    name: ''
  })
}
</script>
