<template>
  <v-menu  :offset-y="offsety" :offset-x="offsetx">
    <template v-slot:activator="{ on }">
      <div v-on="on">
        <VIconTooltip
          :color="isInvitations ? 'warning' : ''"
          :icon-class="`${isInvitations ? 'no-glow vibrate-1' : ''}`"
          :no-tooltip="!isInvitations"
        >
          <template v-slot:icon>{{icon}}</template>
          <template v-slot:description>{{description}}</template>
        </VIconTooltip>
      </div>
    </template>
    <v-list>
      <v-list-item v-for="item in items" :key="item.key" @click="gotoPath(item.route)" @click.middle="newTab(item.route)">
        <v-icon class="mr-1">{{ item.icon }}</v-icon>
        <v-list-item-title>{{ item.text }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import { VIconTooltip } from 'vicontooltip'

import {mapState, mapGetters, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')

import {isEmpty} from '@/assets/utils/utils.js'

export default {
  name: 'UserAvatar',
  props:{
    side:{
      type: Boolean,
      default: false
    }
  },
  components:{
    VIconTooltip
  },
  mounted(){
    if(this.side){
      this.offsetx = true
      this.offsety = false
    }
    else{
      this.offsetx = true
      this.offsety = false
    }
  },
  computed: {
    ...fb.mapState(['user', 'groupInvitations', 'archivedGroupTasks', 'archivedTasks']),
    ...fb.mapGetters(['isAuthenticated', 'group']),
    username() {
      return this.isAuthenticated ? this.user.displayName : ''
    },
    items() {
      return this.isAuthenticated ?  this.itemsLoggedIn : this.itemsLoggedOut
    },
    itemsLoggedIn() {
      return [
        {text: 'Profile', route: '/profile', icon: 'mdi-face-profile'},
        {text: 'Sign out', route: '/user/signout', icon: 'mdi-logout'}
      ]
    },
    itemsLoggedOut() {
      return [
        {text: 'Sign in', route: '/user/signin', icon: 'mdi-login'},
        {text: 'Sign up', route: '/user/signup', icon: 'mdi-draw'}
      ]
    },
    isInvitations(){
      return !isEmpty(this.groupInvitations)
    },
    icon(){
      return this.isInvitations ? 'mdi-account-alert' : 'mdi-account-circle'
    },
    description(){
      return this.isInvitations > 0 ? 'New Group Invite' : ''
    }
  },
  methods:{
    gotoPath(path){
      if(path === '/user/signout') this.$emit('logout')
      else this.$router.push(path)
    },
    newTab(path){
      if(path === '/user/signout') this.$emit('logout')
      else window.open(path, '_blank')
    },
  },
  data: () => ({
    offsetx: false,
    offsety: true,
  })
}
</script>

<style>
.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-4-1 20:4:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
</style>
