<template>
  <v-card v-if="edit" flat tile style="width: 100% !important" class="d-flex flex-column">
    <v-card-text class="flex d-flex flex-column pa-0">
      <v-list nav dense>
        <v-list-item-group>
          <v-list-item-content class="mb-3 ml-2">
            <v-row>
              <v-col cols="9">
                <v-list-item-title :class="`headline ${fontWeight}`">Groups</v-list-item-title>
              </v-col>
              <v-spacer/>
              <v-col class="mt-2" cols="3" v-if="isAdmin">
                <VIconTooltip
                  class="ml-2"
                  @click="$emit('sheet', {sheet: true, sheetComponent: 'InputGroup'})"
                >
                  <template v-slot:description>New Group</template>
                  <template v-slot:icon>mdi-plus</template>
                </VIconTooltip>
              </v-col>
            </v-row>
          </v-list-item-content>
            <v-list-item v-for="(group, i) in groups$"
            :key="i"
            @click.native="setCurrentGroup(i)">
              <v-list-item-content>
                <v-list-item-title v-if="!edit[i]" :class="fontWeight">
                  <v-row no-gutters>
                    <span class="mt-1">{{group.text}}</span>
                    <VIconTooltip
                      v-if="groups$[i].value.new"
                      color="warning"
                      small
                    >
                      <template v-slot:description>New Task/s!</template>
                      <template v-slot:icon>mdi-new-box</template>
                    </VIconTooltip>
                  </v-row>
                </v-list-item-title>
                <v-text-field
                v-else
                outlined
                dense
                label="Edit"
                :value="group.text"
                v-model="newGroupName"
                @input="$v.newGroupName.$touch()"
                @blur="$v.newGroupName.$touch()"
                :error-messages="errorsNewGroupName"/>
              </v-list-item-content>

              <v-list-item-icon class="ml-2">
                <VIconTooltip
                  v-if="edit[i] && groups$.length > 1 && isAdmin"
                  key="1"
                  small
                  @click="saveNewGroupName(i)"
                >
                  <template v-slot:description>Save</template>
                  <template v-slot:icon>mdi-content-save</template>
                </VIconTooltip>
                <VIconTooltip
                  v-if="isAdmin"
                  key="2"
                  small
                  @click="$set(edit, i,  !edit[i])"
                >
                  <template v-slot:description v-if="!edit[i] && group.text !== 'Private'">Edit</template>
                  <template v-slot:description v-else-if="edit[i]">Cancel</template>
                  <template v-slot:icon v-if="!edit[i] && group.text !== 'Private'">mdi-wrench</template>
                  <template v-slot:icon v-else-if="edit[i]">mdi-cancel</template>
                </VIconTooltip>
              </v-list-item-icon>
            </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card-text>
    <v-card-actions class="pa-0 ma-0">
      <v-list-item>
        <v-row no-gutters justify="end">
          <v-list-item-content>
            <v-list-item-title v-if="!edit[edit.length-1]" :class="`caption ${fontWeight}`" style="width: 100%">
              <span class="d-inline-block text-truncate"> Default Group: {{groupName}} </span>
            </v-list-item-title>
            <v-list-item-title v-else-if="edit[edit.length-1] && groups$">
              <v-select
                v-model="selectedDefaultGroup"
                :items="groups$"
              />
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-icon :class="edit[edit.length-1] ? 'mt-9' : 'mt-3'">
            <VIconTooltip
              v-if="edit[edit.length-1] "
              key="1"
              small
              @click="saveNewDefaultGroup(edit.length-1)"
            >
              <template v-slot:description>Save</template>
              <template v-slot:icon>mdi-content-save</template>
            </VIconTooltip>
            <VIconTooltip
              v-if="isAdmin"
              key="2"
              small
              position="top"
              @click="$set(edit, edit.length-1,  !edit[edit.length-1])"
            >
              <template v-slot:description v-if="!edit[edit.length-1]">Edit</template>
              <template v-slot:description v-else-if="edit[edit.length-1]">Cancel</template>
              <template v-slot:icon v-if="!edit[edit.length-1]">mdi-wrench</template>
              <template v-slot:icon v-else-if="edit[edit.length-1]">mdi-cancel</template>
            </VIconTooltip>
          </v-list-item-icon>
        </v-row>
      </v-list-item>
    </v-card-actions>
  </v-card>
</template>

<script>
import ConfirmationDialog from '@/components/utils/ConfirmationDialog'
import { VIconTooltip } from 'vicontooltip'

import { validationMixin } from 'vuelidate'
import { required, minLength } from 'vuelidate/lib/validators'

import {mapState, mapGetters, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')

export default{
  name: 'TOCGroups',
  components:{
    ConfirmationDialog, VIconTooltip
  },
  mixins: [validationMixin],
  validations: {
    newGroupName: { required, minLength: minLength(4) },
  },
  middleware: 'auth',
  props:{
    resetEdit: {
      type: Boolean,
      default: false
    }
  },
  watch:{
    resetEdit: function(v){
      if(this.edit) this.edit = this.edit.map(it => false)
    },
    groups$: function(v) {
      if(v) this.edit = new Array(this.groups$.length+1).fill(false)
    }
  },
  data: () => ({
    newGroupName: null,
    edit: [],
    selectedDefaultGroup: null
  }),
  computed:{
    ...mapState(['fontWeight']),
    ...fb.mapState(['groups', 'spaces', 'groupSpaces', 'activeGroupTasks', 'activeTasks']),
    ...fb.mapGetters(['defaultGroupName', 'profile', 'isAdmin']),
    errorsNewGroupName() {
      const errors = []
      if (!this.$v.newGroupName.$dirty) return errors
      !this.$v.newGroupName.required && errors.push('Groupname is required.')
      return errors
    },
    errorsNewDefaultGroupName() {
      const errors = []
      if (!this.$v.selectedDefaultGroup.$dirty) return errors
      !this.$v.selectedDefaultGroup.required && errors.push('Groupname is required.')
      return errors
    },
    groups$(){
      if(this.groups) {
        return [{name: 'Private'}, ...Object.values(this.groups)].map(group => {
          let isNew = false
          if(group.name === 'Private' && this.activeTasks) {
            isNew = Object.values(this.activeTasks).some(task => task.new)
          }
          else if(group.name !== 'Private' && this.activeGroupTasks) {
            isNew = Object.values(this.activeGroupTasks).some(task => task.gid === group.id && task.new)
          }
          group.new = isNew
          return {text: group.name, value: group}
        })
      }
      return [{text: 'Private', value: {name: 'Private'}}]
    },
    groupName(){
      return this.defaultGroupName ? this.defaultGroupName : ''
    }
  },
  methods:{
    setCurrentGroup(i){
      if(this.currentGroup !== this.groups$[i].text) {
        if(this.groups$[i].text === 'Private') {
          this.$store.dispatch('firebase/setCurrentGroupId', null)
          this.$store.dispatch('firebase/setCurrentSpaceId', this.profile.defaultSpace)
        }
        else {
          this.$store.dispatch('firebase/setCurrentGroupId', this.groups$[i].value.id)
          if(this.groupSpaces) {
            let space = this.groupSpaces[this.groups$[i].value.defaultGroupSpace]
            if(space !== undefined) {
              this.$store.dispatch('firebase/setCurrentSpaceId', space.id)
            }
            else{
              this.$store.dispatch('firebase/setCurrentSpaceId', null)
            }
          }
        }
      }
    },
    saveNewGroupName(i){
      this.$set(this.edit, i,  !this.edit[i])
      this.$v.$touch()
      if (!this.$v.$invalid && this.newGroupName !== this.groups$[i].text) {
        this.$store.dispatch('firebase/updateGroup', {
          id: this.groups$[i].value.id,
          field: 'name',
          value: this.newGroupName
        })
        this.$v.$reset()
      }
    },
    async saveNewDefaultGroup(){
      this.$set(this.edit, this.edit.length-1, !this.edit[this.edit.length-1])
      if(this.selectedDefaultGroup !== null) {
        if (this.defaultGroupName != this.selectedDefaultGroup.name) {
          let item = {field: 'defaultGroup', value: this.selectedDefaultGroup.name, id: this.profile.id}
          if(this.selectedDefaultGroup.name !== 'Private') {
            item = {field: 'defaultGroup', value: this.selectedDefaultGroup.id, id: this.profile.id}
            let g = this.groups[item.value]
            await this.$store.dispatch('firebase/updateProfile', item)
            this.$store.dispatch('firebase/setCurrentGroupId', g.id)
            this.$store.dispatch('firebase/setCurrentSpaceId', g.defaultGroupSpace)
          }
          else {
            await this.$store.dispatch('firebase/updateProfile', item)
            this.$store.dispatch('firebase/setCurrentGroupId', null)
            this.$store.dispatch('firebase/setCurrentSpaceId', this.profile.defaultSpace)
          }
        }
      }
    },
    inputNewGroupName(v){
      this.$v.newGroupName.$touch();
      this.newGroupName = v
    }
  }
}
</script>
