<template>
  <v-card v-if="edit" flat tile style="width: 100% !important" class="d-flex flex-column">
    <v-card-text class="flex d-flex flex-column pa-0">
      <v-list nav dense>
        <v-list-item-group>
          <v-list-item-content class="mb-3 ml-2">
            <v-row>
              <v-col cols="9">
                <v-list-item-title :class="`headline ${fontWeight}`">Spaces</v-list-item-title>
              </v-col>
              <v-spacer/>
              <v-col class="mt-2" cols="3">
                <VIconTooltip
                  v-if="canAddSpace"
                  class="ml-2"
                  @click="$emit('sheet', {sheet: true, sheetComponent: 'InputSpace'})"
                >
                  <template v-slot:description>New Space</template>
                  <template v-slot:icon>mdi-plus</template>
                </VIconTooltip>
              </v-col>
            </v-row>
          </v-list-item-content>
            <v-list-item v-if="activeSpaces" v-for="(space, i) in [...extraSpaces, ...activeSpaces]"
            :key="i"
            @click.native="setCurrentSpace(i)">
            <v-list-item-content v-if="spaces$">
              <v-list-item-title v-if="!edit[i] && space" :class="fontWeight">
                <v-row no-gutters>
                  <v-icon small class="mt-1" :color="space.color">mdi-pound</v-icon>
                  <span class="mt-1">{{space.name}}</span>
                  <VIconTooltip
                    v-if="spaces$[i].value.new"
                    color="warning"
                    small
                  >
                    <template v-slot:description>New Task/s!</template>
                    <template v-slot:icon>mdi-new-box</template>
                  </VIconTooltip>
                </v-row>
              </v-list-item-title>
              <v-text-field
              v-else-if="space"
              outlined
              dense
              :value="space.name"
              @input="inputNewSpaceName"
              @blur="$v.newSpaceName.$touch()"
              :error-messages="errorsNewSpaceName"/>
            </v-list-item-content>
            <v-list-item-icon class="ml-2" v-if="space && (isGroupAdmin || createdByUser[i]) && space.id">
              <VIconTooltip
                v-if="edit[i]"
                key="1"
                small
                @click="saveNewSpaceName(i)"
              >
                <template v-slot:description>Save</template>
                <template v-slot:icon>mdi-content-save</template>
              </VIconTooltip>
              <VIconTooltip
                v-if="canEditSpace"
                key="2"
                small
                @click="$set(edit, i,  !edit[i])"
              >
                <template v-slot:description v-if="!edit[i]">Edit</template>
                <template v-slot:description v-else-if="edit[i]">Cancel</template>
                <template v-slot:icon v-if="!edit[i]">mdi-wrench</template>
                <template v-slot:icon v-else-if="edit[i]">mdi-cancel</template>
              </VIconTooltip>
              <VIconTooltip
                v-if="!edit[i] && (isGroupAdmin || createdByUser[i])"
                key="3"
                small
                @click="prepareRemoveSpace(space)"
              >
                <template v-slot:description>Delete</template>
                <template v-slot:icon>mdi-delete</template>
              </VIconTooltip>
            </v-list-item-icon>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card-text>
    <v-card-actions class="pa-0 ma-0">
      <v-list-item v-if="activeSpaces">
        <v-row no-gutters justify="end">
          <v-list-item-content>
            <v-list-item-title v-if="!edit[edit.length-1]" :class="`caption ${fontWeight}`">
              <span class="d-inline-block text-truncate">Default Space: {{defaultSpaceName}}</span>
            </v-list-item-title>
            <v-list-item-title v-else-if="edit[edit.length-1] && spaces$">
              <v-select
                v-model="selectedDefaultSpace"
                :items="spaces$.slice(2)"
              />
            </v-list-item-title>
          </v-list-item-content>
          <v-list-item-icon v-if="isGroupAdmin || !group" :class="edit[edit.length-1] ? 'mt-9' : 'mt-2'">
            <VIconTooltip
              v-if="edit[edit.length-1]"
              key="1"
              small
              position="top"
              @click="saveNewDefaultSpace(edit.length-1)"
            >
              <template v-slot:description>Save</template>
              <template v-slot:icon>mdi-content-save</template>
            </VIconTooltip>
            <VIconTooltip
              v-if="canEditSpace"
              key="2"
              small
              position="top"
              @click="$set(edit, edit.length-1,  !edit[edit.length-1])"
            >
              <template v-slot:description v-if="!edit[edit.length-1]">Edit</template>
              <template v-slot:description v-else-if="edit[edit.length-1]">Cancel</template>
              <template v-slot:icon v-if="!edit[edit.length-1]">mdi-wrench</template>
              <template v-slot:icon v-else-if="edit[edit.length-1]">mdi-cancel</template>
            </VIconTooltip>
          </v-list-item-icon>
        </v-row>
      </v-list-item>
      <span v-else :class="`caption ${fontWeight} red--text offset-sm-3`">Please add a space</span>
    </v-card-actions>
    <ConfirmationDialog
      :dialog="dialog"
      :title="`You're about to delete space:&nbsp;<span class='red--text'>${spaceToRemove.name}</span>`"
      message="This will also remove ALL tasks related to this space.<br/>Are you sure you want to continue?"
      @accept="removeSpace"
      @decline="dialog=false"
    >
    </ConfirmationDialog>
  </v-card>
</template>

<script>
import ConfirmationDialog from '@/components/utils/ConfirmationDialog'
import { VIconTooltip } from 'vicontooltip'

import { colors } from '@/assets/utils/utils.js'

import { validationMixin } from 'vuelidate'
import { required, minLength } from 'vuelidate/lib/validators'

import {mapState, mapGetters, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')

export default{
  name: 'TOCSpaces',
  mixins: [validationMixin],
  validations: {
    newSpaceName: { required, minLength: minLength(4) },
  },
  components:{
    ConfirmationDialog, VIconTooltip
  },
  middleware: 'auth',
  props:{
    resetEdit: {
      type: Boolean,
      default: false
    }
  },
  watch:{
    resetEdit: function(v){
      if(this.edit) this.edit = this.edit.map(it => false)
    },
    activeSpaces: function(v) {
      if(v) this.edit = new Array(this.activeSpaces.length+this.extraSpaces.length+1).fill(false)
    }
  },
  data: () => ({
    dialog: false,
    dialogMessage: '<p>This will also remove ALL tasks related to this space</p><p>Are you sure you want to continue?</p>',
    spaceToRemove: {name: '', id: ''},
    newSpaceName: null,
    edit: [],
    selectedDefaultSpace: null
  }),
  computed:{
    ...mapState(['fontWeight']),
    ...fb.mapState(['activeGroupTasks', 'activeTasks']),
    ...fb.mapGetters(['activeSpaces', 'defaultSpace', 'defaultSpaceName', 'activeSpacesTasks', 'profile', 'group', 'isGroupAdmin']),
    errorsNewSpaceName() {
      const errors = []
      if (!this.$v.newSpaceName.$dirty) return errors
      !this.$v.newSpaceName.required && errors.push('Spacename is required.')
      !this.$v.newSpaceName.minLength && errors.push('Spacename must be at least 4 characters long.')
      return errors
    },
    canAddSpace(){
      return this.activeSpaces ? this.activeSpaces.length < colors.length : true
    },
    extraSpaces(){
      if(this.activeSpaces === null || this.activeSpaces === undefined) return []
      if(this.group){
        return [{name: 'All'}, {name: `All @${this.group.name}`}]
      }
      return [{name: 'All'}, {name: `All @Private`}]
    },
    spaces$(){
      if(this.activeSpaces){
        return [...this.extraSpaces, ...this.activeSpaces].map(space => {
          let isNew = false
          if(space.gid === undefined && this.activeTasks) {
            isNew = Object.values(this.activeTasks).some(task => task.space === space.id && task.new)
          }
          else if(space.gid !== undefined && this.activeGroupTasks) {
            isNew = Object.values(this.activeGroupTasks).some(task => task.space === space.id && task.new)
          }
          space.new = isNew
          return {text: space.name, value: space}
        })
      }
      return null
    },
    createdByUser(){
      if(this.activeSpaces) {
        let arr = [false,false]
        this.activeSpaces.forEach(space => {
          if(space.uid === this.profile.id) {
            arr.push(true)
          }
          else {
            arr.push(false)
          }
        })
        return arr
      }
      return []
    },
    canEditSpace(){
      if(!this.group && this.profile){
        return true
      }
      if(this.isGroupAdmin) {
        return true
      }
      if(this.profile && this.group) {
        if(this.group.uid === this.profile.id) {
          return true
        }
      }
      return false
    }
  },
  methods:{
    setCurrentSpace(i){
      if(this.extraSpaces.length >= 1) {
        if(i === 0) {
          this.$store.dispatch('firebase/setCurrentSpaceId', 'All-Groups')
          return
        }
      }
      if(this.extraSpaces.length === 2){
        if(i === 1) {
          this.$store.dispatch('firebase/setCurrentSpaceId', 'All-Group')
          return
        }
      }
      if(this.currentSpace !== this.activeSpaces[i-this.extraSpaces.length].name){
        this.$store.dispatch('firebase/setCurrentSpaceId', this.activeSpaces[i-this.extraSpaces.length].id)
      }
    },
    prepareRemoveSpace(space){
      this.spaceToRemove = space
      this.dialog = true
    },
    removeSpace(){
      this.$store.dispatch('firebase/deleteSpace', this.spaceToRemove.id)

      if(this.activeSpaces){
        if(this.activeSpaces.length > 0){
          this.$store.dispatch('firebase/setCurrentSpaceId', this.activeSpaces[0].id)
        }
      }
      this.dialog = false
      this.spaceToRemove = {name: '', id: ''}
    },
    saveNewSpaceName(i){
      const index = i - this.extraSpaces.length
      this.$set(this.edit, index,  !this.edit[index])
      this.$v.$touch()
      if (!this.$v.$invalid && this.newSpaceName != this.activeSpaces[index].name) {
        this.$store.dispatch('firebase/updateSpace', {
          id: this.activeSpaces[index].id,
          field: 'name',
          value: this.newSpaceName
        })
        this.$v.$reset()
      }
    },
    saveNewDefaultSpace(){
      this.$set(this.edit, this.edit.length-1, !this.edit[this.edit.length-1])
      if(this.selectedDefaultSpace !== null) {
        if (this.defaultSpace.id != this.selectedDefaultSpace.id) {
          if(this.group) {
            this.$store.dispatch('firebase/updateGroup', {field: 'defaultGroupSpace', value: this.selectedDefaultSpace.id, id: this.group.id})
          }
          else {
            this.$store.dispatch('firebase/updateProfile', {field: 'defaultSpace', value: this.selectedDefaultSpace.id, id: this.profile.id})
          }
          this.$store.dispatch('firebase/setCurrentSpaceId', this.selectedDefaultSpace.id)
        }
      }
    },
    inputNewSpaceName(v){
      this.$v.newSpaceName.$touch();
      this.newSpaceName = v
    }
  }
}
</script>
