<template>
</template>

<script>
import firebase from 'firebase'

export default {
  mounted() {
    this.$store.dispatch('firebase/userLogout')
    .then(() => {
        this.$router.push('/')
      })
  }
}
</script>
