<template>
  <v-row row wrap>
    <v-col cols="12" sm="6" class="offset-sm-3">
      <v-card>
        <v-card-title primary-title class='headline'>
          <span v-if="!reset">Sign-In</span>
          <span v-else>Password Reset</span>
        </v-card-title>

        <v-card-text>
          <v-form ref="form">

            <v-text-field v-model="email" label="E-mail" required
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
              :error-messages="errorsEmail"
            />

            <v-text-field v-model="password"
              v-if="!reset"
              :type="'password'"
              label="Password"
              counter
              required
              @input="$v.password.$touch()"
              @blur="$v.password.$touch()"
              v-on:keyup.enter="submit"
              :error-messages="errorsPassword"
            />

            <div v-if="firebaseError" v-html="firebaseError"></div>

          </v-form>
        </v-card-text>

        <v-card-actions class="d-flex flex-row-reverse">
          <v-btn @click="submit" color="primary">submit</v-btn>
          <v-btn v-if="!reset" @click="reset=!reset" color="info" class="mr-1">reset password</v-btn>
          <v-btn v-else @click="reset=!reset" color="error" class="mr-1">cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import firebase from 'firebase'

import { validationMixin } from 'vuelidate'
import { required, requiredIf, email, minLength } from 'vuelidate/lib/validators'


export default {
  name: 'SignIn',
  middleware: 'anonymous',
  mixins: [validationMixin],
  validations: {
    email: { required, email },
    password: {
      required: requiredIf(function() {
        return !this.reset
      }),
      minLength: minLength(8)
    }
  },
  data: () => ({
    password: '',
    email: '',
    firebaseError: '',
    reset: false,
  }),
  computed: {
    errorsPassword() {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.required && errors.push('Password is required.')
      !this.$v.password.minLength && errors.push('Password must be at least 8 characters.')
      return errors
    },
    errorsEmail() {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.required && errors.push('E-mail address is required.')
      !this.$v.email.email && errors.push('Must be a valid email.')
      return errors
    }
  },

  methods: {
    submit() {
      this.$v.$touch()
      if(!this.reset)
        this.login()
      else
        this.resetPassword()
    },

    clear() {
      this.$v.$reset()
      this.password = ''
      this.email = ''
      this.ok = true
      this.title = 'Login'
    },

    login(){
      this.firebaseError = ''
      if (!this.$v.$invalid) {
        this.$store.dispatch('firebase/userLogin', {email: this.email, password: this.password})
        .then(() => {
          this.$router.push('/')
        }).catch(err => {
          this.firebaseError = err.message
        })

      }
    },
    resetPassword(){
      this.firebaseError = ''
      if(!this.$v.$invalid){
        this.$store.dispatch('firebase/resetPassword', this.email)
        .then(() => {
          this.clear()
          this.message = "A reset link has been sent to your e-mail"
          this.reset=!this.reset
        }).catch(err => {
          this.firebaseError = err.message
        })
      }
    }
  }
}
</script>
