.v-icon:not(.no-glow):not(.theme--light):hover {
  text-shadow: 0 0 5px #64B5F6;
}
.site-title:not(.no-glow):not(.font-weight-regular):hover {
  text-shadow: 0 0 5px #64B5F6;
}
code {
  display: block !important;
}
