<template>
  <v-dialog
    :value="open"
    :retain-focus="false"
    persistent
  >
    <v-card style="overflow-x: hidden">
      <v-card-title>
        <v-row no-gutters>
          <v-col cols="12">
            <v-row no-gutters>
              Leave a comment on {{name}}
              <v-spacer />
              <v-icon @click="cancel">mdi-close</v-icon>
            </v-row>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-row no-gutters>
          <v-col cols="12">
            <v-text-field
              v-model="comment"
              label="Comment"
              @keyup.enter="save"

            />
            <p v-if="comments.length > 0">Comments History: </p>
            <p v-for="(comment$, i) in comments" :key="`comment-${i}`">
              {{comment$.text}} - {{comment$.timestamp}}
            </p>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="save" color="primary">Save</v-btn>
        <v-btn @click="cancel" color="error">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'CommentDialog',
  mixins: [validationMixin],
  validations: {
    comment: { required }
  },
  props: {
    dialog:{
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      required: true
    },
    tid: {
      type: String,
      required: true
    },
    comments: {
      type: Array,
      default: () => []
    }
  },
  watch:{
    dialog: function(v){
      this.open = v
    }
  },
  data: () => ({
    open: false,
    comment: ''
  }),
  computed: {
    errorsComment(){
      const errors = []
      if (!this.$v.comment.$dirty) return errors
      !this.$v.comment.required && errors.push('Comment text is required')
      return errors
    }
  },
  methods: {
    save() {
      this.$store.dispatch('firebase/saveTaskComment', {tid: this.tid, text: this.comment})
      this.open = false
      this.comment = ''
      this.$emit('cancel')
    },
    cancel(){
      this.open = false
      this.comment = ''
      this.$emit('cancel')
    },
  }
}
</script>
