<template>
  <v-dialog
    :value="open"
    max-width="500"
    :retain-focus="false"
    @click:outside="decline"
    >
    <v-card style="overflow-x: hidden">
      <div v-if="title != undefined">
        <v-card-title v-html="title" />
      </div>
      <v-card-text class="ml-2 mr-2">
        <v-row row>
          <v-col cols="12">
            <div v-html="message" />
            <v-row>
              <slot name="custom"></slot>
            </v-row>
            <v-row v-if="confirmation">
              <v-col cols="12">
                <v-row>
                  <span :class="`error--text ${fontWeight}`">**Please retype value '{{confirmationValue}}' in the text field below</span>
                </v-row>
                <v-row class="mt-2">
                  <v-text-field
                    v-model="confirm"
                    @blur="$v.confirm.$touch()"
                    @input="$v.confirm.$touch()"
                    :error-messages="errorsConfirm"
                  />
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions class="d-flex flex-row-reverse">
        <v-btn
          color="primary"
          text
          @click="accept"
        >
          Accept
        </v-btn>
        <v-btn
          color="error"
          text
          @click="decline"
        >
          Decline
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, requiredIf, sameAs } from 'vuelidate/lib/validators'

import { mapState } from 'vuex'

export default{
  name: 'ConfirmationDialog',
  mixins: [validationMixin],
  validations: {
    confirm: {
      required: requiredIf(function() {
        return this.confirmation
      }),
    }
  },
  props:{
    title:{
      type: String,
    },
    title:{
      type: String,
    },
    message: {
      type: String
    },
    dialog:{
      type: Boolean,
      default: false
    },
    confirmation:{
      type: Boolean,
      default: false
    },
    confirmationValue:{
      type: String,
      default: 'xyxyxyxyxyx'
    }
  },
  watch:{
    dialog: function(v){
      this.open = v
    }
  },
  computed:{
    ...mapState(['fontWeight']),
    errorsConfirm(){
      const errors = []
      if (!this.$v.confirm.$dirty) return errors
      !this.$v.confirm.required && errors.push('Confirmation text is required')
      !this.equals(this.confirm) && errors.push(`Confirmation text must be equal to ${this.confirmationValue}`)
      return errors
    }
  },
  methods:{
    decline(){
      this.open = false
      this.confirm = ''
      this.$emit('decline')
    },
    accept(){
      this.$v.$touch()
      if(this.confirmation) {
        if (!this.$v.$invalid && this.errorsConfirm.length == 0) {
          this.open = false
          this.confirm = ''
          this.$v.$reset()
          this.$emit('accept')
        }
      }
      else {
        this.open = false
        this.confirm = ''
        this.$emit('accept')
      }
    },
    equals(val) {
      return val == this.confirmationValue
    }
  },
  data: () => ({
    open: false,
    confirm: ''
  })
}
</script>
