<template>
  <tiptap-vuetify
    :value="value"
    @input="update"
    :extensions="extensions"
    :toolbar-attributes="{ color: this.$vuetify.theme.dark ? 'black' : 'white' }"
  />
</template>

<script>
import {

  TiptapVuetify,
  Heading,
  Bold,
  Italic,
  Strike,
  Underline,
  Code,
  Paragraph,
  BulletList,
  OrderedList,
  ListItem,
  Link,
  Blockquote,
  HardBreak,
  HorizontalRule,
  History
} from 'tiptap-vuetify'

export default {
  name: 'TipTapEditor',
  components: {
    TiptapVuetify
  },
  props: ['value'],
  data: () => ({
    extensions: [
      History,
      Blockquote,
      Link,
      Underline,
      Strike,
      Italic,
      ListItem,
      BulletList,
      OrderedList,
      [
        Heading,
        {
          options: {
            levels: [1, 2, 3]
          }
        }
      ],
      Bold,
      Code,
      HorizontalRule,
      Paragraph,
      HardBreak
    ],
  }),
  methods: {
    update(newValue){
      this.$emit('input', newValue)
    }
  }
}

</script>
