<template>
  <v-card hover>
    <v-card-title primary-title class='headline'>
      Invite
      <v-spacer />
      <v-icon small color="warning">mdi-bell</v-icon>
    </v-card-title>
    <v-card-text :class="`${fontWeight} caption`" v-if="invite">
      <b>{{senderName}}</b> invites you to join group: <b>{{invite.groupName}}.</b><br/>
      Do you accept the invitation?
    </v-card-text>
    <v-divider/>
    <v-card-actions class="d-flex flex-row-reverse">
      <v-btn text small @click="accept" color="secondary">accept</v-btn>
      <v-btn text small @click="prepareDecline" color="error">decline</v-btn>
    </v-card-actions>
    <ConfirmationDialog
      :dialog="dialog"
      :title="`You're about to decline an invite to group: ${this.invite.name}`"
      message="Are you sure you want to continue?"
      @accept="declineInvite"
      @decline="dialog=false"
    >
    </ConfirmationDialog>
  </v-card>
</template>

<script>
import ConfirmationDialog from '@/components/utils/ConfirmationDialog'

import { mapGetters, mapState, createNamespacedHelpers } from 'vuex'
const fb = createNamespacedHelpers('firebase')

export default {
  name: 'InviteCard',
  components:{
    ConfirmationDialog
  },
  props:{
    invite: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    dialog: false
  }),
  computed:{
    ...mapState(['fontWeight']),
    ...fb.mapState(['profiles']),
    ...fb.mapGetters(['profile']),
    senderName(){
      return this.profiles ? this.profiles[this.invite.sid] ? this.profiles[this.invite.sid].name : '' : ''
    },
  },
  methods: {
    accept(){
      // 1. update group (gid)
      // 2. remove uid from group.invitie array
      // 3. update the new member profile (uid)
      // 4. delete invite (iid)
      this.$store.dispatch('firebase/acceptInvite', {gid: this.invite.gid, iid: this.invite.id, uid: this.invite.uid})
    },
    prepareDecline(){
      this.dialog = true
    },
    declineInvite(){
      this.$store.dispatch('firebase/deleteInvite', {id: this.invite.id, uid: this.profile.id, gid: this.invite.gid})
    }
  }
}
</script>
