<template>
  <v-hover :id="slug" v-slot:default="{ hover }">
    <div class="d-inline-flex" @click="toHash" style="cursor: pointer !important; width: 95%">
      <div :class="`d-inline-block text-truncate ${fontClass}`">
        <span :class="`${!truncate ? 'text-wrap' : ''}`">{{ text }}</span>
      </div>
      <v-icon
        :small="n >= 6"
        :style="`opacity:${hover ? 1 : 0}`"
      >
        mdi-pound
      </v-icon>
    </div>
  </v-hover>
</template>

<script>
/**
* mapping for heading number (in range [1, 12])
* to corresponding vuetify font-size class
* See https://vuetifyjs.com/en/styles/typography
*/
const vuetifyClasses = {
  1: 'display-4',
  2: 'display-3',
  3: 'display-2',
  4: 'display-1',
  5: 'headline',
  6: 'title',
  7: 'subtitle-1',
  8: 'subtitle-2',
  9: 'body-1',
  10: 'body-2',
  11: 'caption',
  12: 'overline'
}

import he from 'convert-layout/he'
import slugify from 'slugify'

export default {
  props: {
    text: { type: String },
    h: {
      // heading size
      type: [Number, String] ,
      default: 6
    },
    addHash: {
      // whether or not to add the hash to the route
      type: Boolean,
      default: true
    },
    truncate: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    slug() {
      let _slug = slugify(this.text, {
          replacement: '-',
          lower: true,
          strict: true
        })
      if(!_slug)
        _slug = slugify(he.toEn(this.text), {
            replacement: '-',
            lower: true,
            strict: true
          })
        return _slug
    },
    hash() {
      return `#${this.slug}`
    },
    n() {
      // ensure heading is a number in range [1, 12]
      const h = Number(this.h)
      if (h < 1) h = 1
      if (h > 12) h = 12
      return h
    },
    fontClass() {
      return vuetifyClasses[this.n]
    }
  },
  methods: {
    toHash() {
      if (this.addHash) {
        this.$router.push(`${this.$route.path}${this.hash}`)
      }
      this.$vuetify.goTo(this.hash)
      this.$emit('hash', this.hash)
    },
    nothing(){

    }
  }
}
</script>
