<template>
  <v-menu v-if="activeSpaces"
    :close-on-content-click="closeMenu"
    :offset-y="offsety"
    :offset-x="offsetx"
    @update:return-value="closeMenu = true ; subMenu = false">
    <template v-slot:activator="{ on }">
      <div v-on="on">
        <VIconTooltip small>
          <template v-slot:icon>mdi-dots-vertical</template>
          <template v-slot:description>Options</template>
        </VIconTooltip>
      </div>
    </template>
    <v-list>
      <!-- Task Page -->
      <v-list-item @click="$emit('to-page')">
        <v-list-item-icon>
          <v-icon small >mdi-book-open-page-variant</v-icon>
        </v-list-item-icon>
        <v-list-item-title class="subtitle-2">Task Page</v-list-item-title>
      </v-list-item>
      <!-- Edit Task -->
      <v-list-item @click="$emit('edit') ; closeMenu = true">
        <v-list-item-icon>
          <v-icon small >mdi-wrench</v-icon>
        </v-list-item-icon>
        <v-list-item-title class="subtitle-2">Edit</v-list-item-title>
      </v-list-item>
      <!-- Comment Task -->
      <v-list-item @click="$emit('comment') ; closeMenu = true">
        <v-list-item-icon>
          <v-icon small >mdi-comment-text-multiple</v-icon>
        </v-list-item-icon>
        <v-list-item-title class="subtitle-2">Comment</v-list-item-title>
      </v-list-item>
      <!-- Move task to space -->
      <v-list-group
        prepend-icon="mdi-arrow-right-bold"
        v-model="subMenu"
        @click="closeMenu = false"
      >
        <template v-slot:activator>
          <v-list-item-title class="subtitle-2">Move</v-list-item-title>
        </template>
        <v-list-item v-for="(space, j) in activeSpaces" :key="`space-${j}`" @click="$emit('move', {name: space.name, id: space.id})">
          <v-list-item-title class="ml-7">
            <span class="body-2">{{space.name}}</span>
          </v-list-item-title>
        </v-list-item>
      </v-list-group>
      <!-- Delete Task -->
      <v-list-item v-if="canDelete" @click="$emit('delete') ; closeMenu = true">
        <v-list-item-icon>
          <v-icon small>mdi-delete</v-icon>
        </v-list-item-icon>
        <v-list-item-title class="subtitle-2">Delete</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>

import {mapState, mapGetters, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')

import { VIconTooltip } from 'vicontooltip'

export default {
  name: 'OptionsMenu',
  props:{
    side:{
      type: Boolean,
      default: false
    },
    canDelete:{
      type: Boolean,
      default: false
    }
  },
  components:{
    VIconTooltip
  },
  mounted(){
    if(this.side){
      this.offsetx = true
      this.offsety = false
    }
    else{
      this.offsetx = true
      this.offsety = false
    }
  },
  computed:{
    ...fb.mapGetters(['activeSpaces'])
  },
  data: () => ({
    offsetx: false,
    offsety: true,
    closeMenu: true,
    subMenu: false
  }),
}
</script>
