<template>
  <v-app app>
    <v-navigation-drawer
      fixed
      temporary
      v-model="drawer"
      class="elevation-15"
      app>
      <v-row no-gutters class="fill-height">
        <TOCGroups @sheet="setSpaceSheet" :reset-edit="!drawer" />
        <TOCSpaces @sheet="setSpaceSheet" :reset-edit="!drawer" />
      </v-row>
    </v-navigation-drawer>
    <v-app-bar fixed dense app>
      <v-app-bar-nav-icon
        v-if="isAuthenticated && $route.path === '/'"
        @click.stop="drawer = !drawer"
      />
      <v-toolbar-title :class="`site-title ${fontWeight} pl-0`" @click="$router.push('/')" style="cursor: pointer !important">
        <span v-if="path">
          <span v-if="groupName && space !== 'All-Groups'">{{groupName}}</span>
          <v-icon v-if="groupName && spaceName && space !== 'All-Groups'" small>mdi-greater-than</v-icon>
          <span v-if="groupName && spaceName">{{spaceName}}</span>
        </span>
        <span v-else>
          IMSB-Task-Manager
        </span>
      </v-toolbar-title>
      <v-spacer/>
      <v-fade-transition leave-absolute>
        <VIconTooltip
          v-if="$vuetify.theme.dark"
          @click="toggleTheme"
          icon-class="mr-1"
        >
          <template v-slot:description>Dark Mode</template>
          <template v-slot:icon>mdi-weather-night</template>
        </VIconTooltip>
        <VIconTooltip
          v-else
          @click="toggleTheme"
          icon-class="mr-1"
        >
          <template v-slot:description>Light Mode</template>
          <template v-slot:icon>mdi-weather-sunny</template>
        </VIconTooltip>
      </v-fade-transition>
      <UserAvatar
        @logout="dialog = true"
      />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
        <v-fab-transition>
          <v-btn
          v-if="spaceExist"
          color="orange"
          class="mb-5"
          fab
          fixed
          bottom right
          dark
          @click="sheet = true; sheetComponent='InputTask'">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-fab-transition>
        <ConfirmationDialog
          :dialog="dialog"
          title="You're about to signout"
          message="Are you sure you want to continue?"
          @accept="logout"
          @decline="dialog=false"
        >
        </ConfirmationDialog>
      </v-container>
      <v-snackbar
        v-model="snack"
        :timeout="5000"
        color="success"
      >
        <span>
          <v-icon color="orange">mdi-fire</v-icon>
          New {{snackType}} <b>{{snackName}}</b> created successfully!!
          <v-icon color="orange">mdi-fire</v-icon>
        </span>
      </v-snackbar>
      <v-bottom-sheet persistent v-model="sheet">
        <component :is="sheetComponent" @close="sheet = false" @snack-input="updateSnack"/>
      </v-bottom-sheet>
    </v-main>
    <v-footer app>
      <span :class="`${fontWeight} body-2`" v-if="profile"><span class="font-weight-bold">Logged in:</span> {{profile.name}} </span>
      <v-spacer/>
      <span :class="`${fontWeight} body-2`">IMSB-Task-Manager &copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
import UserAvatar from '@/components/user/UserAvatar'
import ConfirmationDialog from '@/components/utils/ConfirmationDialog'
import InputTask from '@/components/Input/InputTask'
import InputSpace from '@/components/Input/InputSpace'
import InputGroup from '@/components/Input/InputGroup'
import TOCSpaces from '@/components/TableOfContents/TOCSpaces'
import TOCGroups from '@/components/TableOfContents/TOCGroups'

import { VIconTooltip } from 'vicontooltip'

import slugify from 'slugify'
import he from 'convert-layout/he'

import {mapGetters, mapState, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')

import { isEmpty } from '@/assets/utils/utils.js'

export default {
  components:{
    VIconTooltip,
    UserAvatar,
    ConfirmationDialog,
    InputTask, InputSpace, InputGroup,
    TOCSpaces, TOCGroups
  },
  watch: {
    profile: function(newVal, oldVal) {
      if(newVal && !oldVal) {
        if(newVal.defaultGroup !== 'Private') {
          this.$store.dispatch('firebase/setCurrentGroupId', newVal.defaultGroup)
        }
        else {
          this.$store.dispatch('firebase/setCurrentSpaceId', this.profile.defaultSpace)
        }
      }
    },
    group: function(newVal, oldVal) {
      if(newVal && !oldVal) {
        this.$store.dispatch('firebase/setCurrentSpaceId', newVal.defaultGroupSpace)
      }
    }
  },
  computed:{
    ...mapState(['fontWeight']),
    ...fb.mapGetters(['isAuthenticated', 'allSpaces', 'profile', 'defaultSpace', 'space', 'group']),
    ...fb.mapState(['spaces', 'groups']),

    groupName(){
      if(this.group) {
        return this.group.name
      }
      else if(this.profile) {
          return 'Private'
      }
      return null
    },
    spaceName(){
      if(this.space) {
        if(this.space === 'All-Group' || this.space === 'All-Groups')
          return 'All'
        return this.space.name
      }
      else if(this.defaultSpace && !isEmpty(this.allSpaces)) {
        let x = this.allSpaces[this.defaultSpace]
        if(x) return x.name
      }
      return null
    },
    spaceExist(){
      if(!isEmpty(this.space) && this.$route.path == '/') return true
      return false
    },
    path(){
      if(this.$route.path === '/')
        return 'Active'
      else if(this.$route.path === '/archive')
        return 'Archive'
      return ''
    }
  },
  methods:{
    logout(){
      this.dialog = false
      this.$router.push('/user/signout')
    },
    updateSnack({name, type}){
      this.snack = true
      this.snackType = type
      this.snackName = name
    },
    setSpaceSheet({sheet, sheetComponent}){
      this.sheet = sheet
      this.sheetComponent = sheetComponent
    },
    toggleTheme(){
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    }
  },
  data: () => ({
    dialog: false,
    drawer: false,
    sheet: false,
    sheetComponent: null,
    snack: false,
    snackType: '',
    snackName: '',
  })
}
</script>
