<template>
  <div v-if="archivedSpacesTasks" class="mt-5">
    <div :class="`display-1 ${fontWeight} mb-5`">Archive</div>
    <TasksIterator :tasks="archivedSpacesTasks" />
  </div>
  <v-row v-else>
    No tasks have been yet completed.
  </v-row>
</template>

<script>
import TasksIterator from '@/components/Tasks/TasksIterator'

import {mapState, mapGetters, createNamespacedHelpers} from 'vuex'

import _ from 'underscore'

const fb = createNamespacedHelpers('firebase')

import { isEmpty } from '@/assets/utils/utils.js'

export default{
  name: 'ArchivePage',
  components:{
    TasksIterator
  },
  middleware: 'auth',
  //page load directly
  async mounted(){
    await this.setArchivedTasks()
  },
  //tab changed
  updated(){
    _.throttle(this.setArchivedTasks(), 1000)
  },
  computed:{
    ...mapState(['fontWeight']),
    ...fb.mapState(['user', 'archivedGroupTasks', 'archivedTasks', 'currentSpace']),
    ...fb.mapGetters(['archivedSpacesTasks', 'group'])
  },
  data: () => ({
    isActive: false
  }),
  methods:{
    async setArchivedTasks(){
      if(await this.group) {
        //group tasks are empty or group tasks exists but with no tasks belonging to the requested group
        if(isEmpty(this.archivedGroupTasks) || !Object.values(this.archivedGroupTasks).some(task => task.gid === this.group.id)) {
          await this.$store.dispatch('firebase/setArchivedGroupTasksRef', this.group.id)
        }
      }
      else if(this.user && isEmpty(this.archivedTasks)) {
        await this.$store.dispatch('firebase/setArchivedTasksRef', this.user.uid)
      }
    }
  }
}
</script>
