<template>
  <div v-if="activeSpacesTasks" class="mt-5">
    <span :class="`display-1 ${fontWeight} mb-5`">Active</span>
    <div style="cursor: pointer" :class="`caption ${fontWeight} secondary--text`" @click="$router.push('/archive')"> Go to Archive </div>
    <TasksIterator :tasks="activeSpacesTasks" />
    <v-snackbar
      v-model="snackbar"
      :timeout="4000">
      <v-row justify="center">
        id copied to clip
        <v-icon class="ml-2" small @click="snackbar = false">mdi-close</v-icon>
      </v-row>
    </v-snackbar>
  </div>
  <v-row v-else>
    <v-col v-if="!space">
      <p >No spaces have been yet added</p>
      <ol>
        <li v-if="!space">To add a new space click on <v-icon class="no-glow">mdi-menu</v-icon> icon at the top left of the site's navigation-bar.</li>
        <li>Click on the <v-icon class="no-glow">mdi-plus</v-icon> icon to add a new space.</li>
      </ol>
    </v-col>
    <v-col v-else>
      <p>No tasks have been yet added to {{space.name}} </p>
      <ol>
        <li>A new <span style="color: orange">orange</span> <v-icon class="no-glow">mdi-plus</v-icon> button will apear. Now it is possible to add new tasks.</li>
      </ol>
    </v-col>
  </v-row>
</template>

<script>
import TasksIterator from '@/components/Tasks/TasksIterator'
import {mapState, mapGetters, createNamespacedHelpers} from 'vuex'

const fb = createNamespacedHelpers('firebase')

export default{
  name: 'DashboardPage',
  components:{
    TasksIterator
  },
  middleware: 'auth',
  computed:{
    ...mapState(['fontWeight']),
    ...fb.mapState(['user']),
    ...fb.mapGetters(['activeSpacesTasks', 'space'])
  },
  data: () => ({
    snackbar: false,
    isActive: false,
  })
}
</script>
