<template>
  <v-container>
    <v-row wrap>
      <v-col cols="12" sm="6" class="offset-sm-3">
        <v-card hover>
          <v-card-title primary-title class='headline'>
            Profile
            <v-spacer />
            <VIconTooltip
              small
              @click="edit=!edit"
              :color="edit ? 'warning' : ''"
            >
              <template v-slot:icon>mdi-wrench</template>
              <template v-slot:description>Edit</template>
            </VIconTooltip>
          </v-card-title>
          <v-card-text>
            <v-text-field
              label="Name"
              v-model="uname"
              disabled
            />
            <v-text-field
              label="Email"
              v-model="email"
              disabled
            />
            <v-text-field
              label="Default Group"
              v-model="defaultGroupName"
              disabled
            />
            <v-row no-gutters>
              <v-col cols="12">
                <v-slide-x-transition group>
                  <v-row key="groups-title" no-gutters v-if="edit">
                    <span :class="`ml-1 ${fontWeight} caption`">Groups</span>
                  </v-row>
                  <v-row key="groups-items" no-gutters v-if="edit">
                    <div v-for="(id, i) in Object.keys(groups)" :key="id">
                      <v-chip
                      class="mr-1 mt-1"
                      close
                      :color="gid == id ? 'info' : ''"
                      @click="setMembers(id)"
                      @click:close="prepareGroupLeave(id)"
                      :disabled="!edit"
                      >
                        {{groups[id].name}}
                      </v-chip>
                    </div>
                  </v-row>
                  <v-row key="members-title" no-gutters v-if="members.length > 0 && edit">
                    <span :class="`mt-1 ml-1 ${fontWeight} caption`">Group Members</span>
                  </v-row>
                  <v-row key="members-items" no-gutters v-if="members.length > 0 && edit">
                    <div v-for="(item, i) in members" :key="i">
                      <v-chip
                      class="mr-1 mt-1"
                      :color="profile.id == item.id ? 'info' : selectedGroup.uid === item.id ? 'warning' : ''"
                      :close="members.length > 1 && profile.id != item.id && isGroupAdmin"
                      @click:close="prepareMemberRemove(i)"
                      :disabled="!edit"
                      >
                        {{item.name}}
                        <span class="ml-1" v-if="profile.id === item.id">(Me)</span>
                        <span class="ml-1" v-else-if="selectedGroup.uid === item.id">(Admin)</span>
                      </v-chip>
                    </div>
                  </v-row>
                  <v-row key="members-select" no-gutters v-if="members.length > 0 && edit">
                    <v-select
                      v-if="isGroupAdmin"
                      v-model="newMembers"
                      :items="profiles$"
                      label="send out group invitations"
                      multiple
                      chips
                      deletable-chips
                      :disabled="!edit"
                    />
                  </v-row>
                </v-slide-x-transition>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="d-flex flex-row-reverse">
            <v-slide-x-reverse-transition>
              <v-btn v-if="isGroupAdmin" :disabled="!edit" color="secondary" @click="save">save</v-btn>
            </v-slide-x-reverse-transition>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-snackbar
        v-model="snackbar"
        :timeout="4000"
        color="success">
        <v-row justify="center">
          Invites sent to new members
          <v-icon class="ml-2" small @click="snackbar = false">mdi-close</v-icon>
        </v-row>
      </v-snackbar>
      <ConfirmationDialog
        :dialog="dialog"
        :title="dialogTitle"
        message="Are you sure you want to continue?"
        confirmation
        :confirmationValue="confirmationValue"
        @decline="dialogRelease"
        @accept="dialogAccept"
      >
      </ConfirmationDialog>
    </v-row>
    <v-row row wrap>
      <v-col cols="12" sm="6" class="offset-sm-3" v-for="(invite, i) in groupInvitations" :key="i">
        <InviteCard
          :invite="invite"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { VIconTooltip } from 'vicontooltip'
import ConfirmationDialog from '@/components/utils/ConfirmationDialog'
import InviteCard from '@/components/utils/InviteCard'

import { isEmpty } from '@/assets/utils/utils.js'

import {mapGetters, mapState, createNamespacedHelpers} from 'vuex'
const fb = createNamespacedHelpers('firebase')

export default {
  name: 'ProfilePage',
  components: {
    VIconTooltip, ConfirmationDialog, InviteCard
  },
  middleware: 'auth',
  data: () => ({
    edit: false,
    members: [],
    newMembers: [],
    memberToRemove: null,
    groupToLeave: null,
    member: null,
    gid: null,
    mid: -1,
    dialog: false,
    dialogType: '',
    snackbar: false,
  }),
  watch: {
    groups: function(v) {
      if(!isEmpty(v) && this.gid) this.setMembers(this.gid)
      if(isEmpty(v)) this.members = []
    }
  },
  computed: {
    ...mapState(['fontWeight']),
    ...fb.mapState(['groups', 'profiles', 'groupInvitations']),
    ...fb.mapGetters(['profile', 'defaultGroupName']),
    uname() {
      return this.profile ? this.profile.name : ''
    },
    email() {
      return this.profile ? this.profile.email : ''
    },
    profiles$(){
      return this.profiles ? Object.values(this.profiles).filter(profile => {
        if(profile.id != this.profile.id) {
          return !this.members.some(member => member.id == profile.id)
        }
      }).map(profile => {
          let disabled = Object.values(this.groups).some(group => group.invitie.some(invite => profile.id == invite) && group.id == this.selectedGroup.id)
          return {text: !disabled ? profile.name : `${profile.name} (Invite sent)`, value: profile, disabled: disabled}
      }) : []
    },
    selectedGroup() {
      return this.groups && this.gid ? this.groups[this.gid] : null
    },
    isGroupAdmin(){
      if(this.profile && this.selectedGroup){
        return this.selectedGroup.uid == this.profile.id
      }
    },
    dialogTitle(){
      if(this.dialogType == 'leave'){
        return `You are about to leave the group&nbsp;<span class="red--text">${this.groupToLeave.name}</span>`
      }
      else if(this.dialogType == 'remove' && this.members[this.mid]){
        return `You are about to remove &nbsp;<span class="red--text">${this.members[this.mid].name}</span>&nbsp;from group&nbsp;<span class="red--text">${this.selectedGroup.name}</span>`
      }
    },
    confirmationValue(){
      if(this.dialogType === 'remove' && this.members[this.mid]){
        return this.members[this.mid].name
      }
      else if(this.dialogType === 'leave'){
        return this.groupToLeave.name
      }
      return null
    }
  },
  methods:{
    setMembers(id){
      this.gid = id
      this.newMembers = []
      if(!this.selectedGroup) return
      this.members = this.selectedGroup.members
      let nmembers = []
      this.members.forEach(member => {
        if(this.profiles[member] !== undefined)
          nmembers.push({id: member, name: this.profiles[member].name})
      })
      this.$set(this, 'members', nmembers)
    },
    prepareMemberRemove(i){
      this.memberToRemove = this.members[i]
      this.dialog = true
      this.dialogType = 'remove'
      this.mid = i
    },
    async removeGroupMember(){
      await this.$store.dispatch('firebase/removeGroupMember', {gid: this.selectedGroup.id, mid: this.memberToRemove.id})
      this.memberToRemove = null
    },
    prepareGroupLeave(id){
      this.groupToLeave = this.groups[id]
      this.dialog = true
      this.dialogType = 'leave'
    },
    leaveGroup(gid){
      this.$store.dispatch('firebase/leaveGroup', {gid: gid, uid: this.profile.id})
    },
    dialogAccept(){
      if(this.dialogType === 'leave') this.leaveGroup(this.groupToLeave.id)
      else this.removeGroupMember()
    },
    dialogRelease(){
      this.dialog = false
    },
    async save(){
      if(this.newMembers.length > 0) {
        await this.$store.dispatch('firebase/sendGroupInvitations', {
          gid: this.gid,
          members: this.newMembers.map(member => member.id),
          groupName: this.groups[this.gid]
        })
        this.snackbar = true
        this.setMembers(this.selectedGroup.id)
      }
    }
  }
}
</script>
