<template>
  <v-container>
    <v-row v-if="task$" row wrap>
      <v-col cols="12" sm="6" class="offset-sm-3">
        <v-card hover>
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title>
                <span class="display-1">{{task$.name}}</span>
              </v-list-item-title>
              <v-list-item-subtitle>
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-row no-gutters>
                      Created: {{date$}}
                    </v-row>
                    <v-row no-gutters>
                      <span class="caption">{{$route.query.id}}</span>
                    </v-row>
                  </v-col>
                </v-row>
                <p v-if="task$.date !== ''" class="font-weight-bold red--text">Alarm: <span :class="fontWeight">{{task$.date}}</span></p>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-card-text>
            <p class="font-weight-bold">Created By: <span :class="fontWeight">{{createdBy}}</span></p>
            <p class="font-weight-bold">Status: <span :class="fontWeight">{{status}}</span></p>
            <p class="font-weight-bold">Group: <span :class="fontWeight">{{task$.gid ? group : 'Private'}}</span></p>
            <p  class="font-weight-bold">Space: <span :class="fontWeight">{{space}}</span></p>
            <p class="font-weight-bold mt-3">Description:</p>
            <span :class="`${fontWeight}`" v-html="task$.description" />
            <p v-if="assignees" class="font-weight-bold mt-3">Assignees: <span :class="fontWeight">{{assignees}}</span></p>
            <p class="font-weight-bold mt-3">History:</p>
            <ul v-for="(ev, i) in history" :key="`history-${ev.id}`">
              <li>
                <span class="caption font-weight-black"> {{ev.message}} </span>
                <span :class="`caption ${fontWeight}`"> by </span>
                <span class="caption font-weight-black"> {{usernames[i]}} </span>
                <span :class="`caption ${fontWeight}`"> at {{ev.timestamp}} </span>
              </li>
            </ul>
            <p class="font-weight-bold mt-3" v-if="comments.length > 0">Comments:</p>
            <ul v-for="(comment, i) in comments" :key="`comment-${comment.id}`">
              <li>
                <span class="caption font-weight-black"> {{comment.text}} </span>
                <span :class="`caption ${fontWeight}`"> by </span>
                <span class="caption font-weight-black"> {{usernames[i]}} </span>
                <span :class="`caption ${fontWeight}`"> at {{comment.timestamp}} </span>
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else>
      <h2>Task not found 404</h2>
    </v-row>
  </v-container>
</template>

<script>
import MarkDownHeader from '@/components/utils/MarkDownHeader'
import { createNamespacedHelpers, mapGetters, mapState } from 'vuex'
const fb = createNamespacedHelpers('firebase')

import { isEmpty, formattedDate } from '@/assets/utils/utils.js'

export default{
  name: 'TaskPage',
  middleware: 'auth',
  components:{
    MarkDownHeader
  },
  async mounted(){
    if(!isEmpty(this.allTasks)) {
      const t = this.allTasks[this.$route.query.id]
      if(!isEmpty(t)) {
        this.currentTask = t
      }
      else {
        await this.$store.dispatch('firebase/getTaskById', {uid: this.user.uid, tid: this.$route.query.id})
      }
    }
    else {
      await this.$store.dispatch('firebase/getTaskById', {uid: this.user.uid, tid: this.$route.query.id})
    }
  },
  data: () => ({
    currentTask: null
  }),
  computed:{
    ...mapState(['fontWeight']),
    ...fb.mapState(['profiles', 'groups', 'user', 'task']),
    ...fb.mapGetters(['allSpaces', 'allTasks']),
    task$() {
      return this.currentTask ? this.currentTask : this.task
    },
    history(){
      return this.task$ ? this.task$.history ? this.task$.history.reverse() : [] : []
    },
    comments(){
      return this.task$ ? this.task$.comments ? this.task$.comments.reverse() : [] : []
    },
    createdBy(){
      return this.profiles ? this.profiles[this.task$.uid] ? this.profiles[this.task$.uid].name : null : null
    },
    status(){
      return this.task$ ? this.task$.status === 0 ? 'Active' : 'Archived' : null
    },
    space() {
      return this.allSpaces ? this.allSpaces[this.task$.space] ? this.allSpaces[this.task$.space].name : null : null
    },
    group() {
      return this.groups ? this.groups[this.task$.gid] ? this.groups[this.task$.gid].name : null : null
    },
    date$(){
      if(this.task$.timestamp_start) {
        return formattedDate(this.task$.timestamp_start.toDate(), true)
      }
    },
    usernames(){
      if(this.history && this.profiles) {
        let names = []
        this.history.forEach((ev, i) => {
          names.push(this.profiles[ev.uid].name)
        })
        return names
      }
      return null
    },
    assignees(){
      if(this.profiles && this.task$.assignees) {
        let a = []
        this.task$.assignees.forEach(assignee => {
          a.push(this.profiles[assignee].name)
        })
        return a.toString().replace(/,/g, ", ")
      }
    }
  }
}
</script>
